<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Major</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-3 mb-3">
        <table class="w3-table-all table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Subject Name</th>
                <th>Teacher Name</th>
                <th> Tuition </th>
            </tr>
            <tr th:each="detail : ${registrationDetails}">
                <td th:text="${detail.course.id}"></td>
                <td th:text="${detail.course.name}"></td>
                <td th:text="${detail.course.subject.name}"></td>
                <td th:text="${detail.course.teacher.name}"></td>
                <td th:text="${detail.course.subject.tuition}"></td>
            </tr>
        </table>
        <script>
        </script>
    </div>
</section>
</body>
</html>