<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Major</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container text-center mb-3 mt-3 align-content-center">
            <h1>Chào mừng trở lại</h1>
        </div>
    </section>
</body>
</html>