<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Major</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-3 mb-3">
        <table class="w3-table-all table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Accredit</th>
                <th>Semester</th>
                <th>tuition</th>
                <th>Major</th>
                <th>Type</th>
                <th style="width: 100px">Actives</th>
            </tr>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.id}"></td>
                <td th:text="${subject.name}"></td>
                <td th:text="${subject.accredit}"></td>
                <td th:text="${subject.semester}"></td>
                <td th:text="${subject.tuition}"></td>
                <td th:text="${subject.major.getName()}"></td>
                <td th:text="${subject.type}"></td>
                <td >
                    <form th:action="@{/subject/modify}" method="get" style="display: inline;">
                        <input type="hidden" name="id" th:value="${subject.id}" />
                        <button type="submit" class="icon-button btn-primary">
                            <i class="fas fa-edit"></i><span></span>
                        </button>
                    </form>
                    <form th:action="@{/subject/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${subject.id}"/>
                        <button type="submit" class="icon-button btn-primary">
                            <i class="fas fa-trash"></i><span></span>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <script>
        </script>
    </div>
</section>
</body>
</html>