<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-sm bg-info navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/admin">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown">Faculty</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="/faculty">List</a></li>
                        <li><a class="dropdown-item nav-link" href="/faculty/modify">Add Faculty</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown">Major</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="/major">List</a></li>
                        <li><a class="dropdown-item nav-link" href="/major/add">Add Major</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown">Student</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="/student">List</a></li>
                        <li><a class="dropdown-item nav-link" href="/student/add">Add Student</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown">Teacher</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="/teacher">List</a></li>
                        <li><a class="dropdown-item nav-link" href="/teacher/modify">Add Teacher</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown">Subject</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="/subject">List</a></li>
                        <li><a class="dropdown-item nav-link" href="/subject/add">Add Subject</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown">Course</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="/course">List</a></li>
                        <li><a class="dropdown-item nav-link" href="/course/add">Add Course</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>